.blue {
    border-top: 5px solid #3260db;
    min-height: 50vmin;
}

.yellow {
    border-top: 5px solid #fff200;
    min-height: 50vmin;
}

.green {
    border-top: 5px solid #00cf03;
    min-height: 50vmin;
}
